<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="top.heyuantao.manager.pojo"/>
    </typeAliases>
    <!--分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
        	<!-- 通过方言指定生成mysql的sql语句 -->
        	<!-- 比如：oracle和mysql分页sql不一样 -->
            <property name="dialect" value="mysql"/>
        </plugin>
    </plugins>
</configuration>